body {
    background-color: lightgreen;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1,h2,h3,h4,h5,p,label {
    color: black;
}
nav {
    background-color: rgb(68, 68, 241);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px;
}
nav > h1 {
    text-shadow: 2px 2px 2px black;
}
nav > a {
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 2px darkslategrey;

}
section.split-screen {
    display: flex;
    justify-content: space-evenly;
}
section.split-screen > * {
    width: 50%;
    margin: 30px;
}
.btn-primary {
    color: wheat;
    background-color: blue;
    border-color: black;
}